
  <!DOCTYPE html>
<html>
    <script src="../app.js" ></script>
    <!--<style>
      .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

    </style>-->
<body>

<h3>Welcome To Home page </h3>

<form action="http://127.0.0.1:3000/add" method="get" id="nameform">
</form>
<form action="http://127.0.0.1:3000/retrive" method="get" id="nameform2">
</form>
<form action="http://127.0.0.1:3000/deleteIndex" method="get" id="nameform3">
</form>
<form action="http://127.0.0.1:3000/updateIndex" method="get" id="nameform4">
</form>
<button class="button" type="submit" form="nameform" value="Add">Add Employee</button> </br>
</br>
<button  class="button" type="submit" form="nameform2" value="Show">Show the Details</button> </br>
</br>
<button  class="button" type="submit" form="nameform3" value="Delete">Delete the Employee</button> </br>
</br>
<button  class="button" type="submit" form="nameform4" value="Update">Update the Employee details</button>
</body>
</html>